.github
.gitignore
libft.a
Doxyfile
obj
minishell
*.gch
*.o
*.c~
*.h~
*~
.un~
*.bak
*.swp
docker-compose.yml
Dockerfile
&1
a
append.txt
append_test.txt
b
dir_count.txt
dos.txt
env.txt
f
file.txt
file1.txt
file2.txt
g
grep_out.txt
out.txt
out2.txt
outfile.txt
overwrite.txt
uno.txt
user_var.txt
